<div class="p-5 justify-center">
  <ngb-carousel
    *ngIf="images"
    [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators"
  >
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img [src]="image" alt="Random slide" />
      </div>
      <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="p-5 justify-center">
  <h2 class="shadow-sm">Our Products</h2>
  <!-- filter -->
  <section class="flex">
    <mat-checkbox
                  [checked]=""
                  [color]=""
                  [indeterminate]=""
                  (change)="setAll($event.checked)">
      Select All
    </mat-checkbox>
    <mat-checkbox
                  [checked]=""
                  [color]=""
                  [indeterminate]=""
                  (change)="setAll($event.checked)">
      Male
    </mat-checkbox>
    <mat-checkbox
                  [checked]=""
                  [color]=""
                  [indeterminate]=""
                  (change)="setAll($event.checked)">
      Female
    </mat-checkbox>
  </section>
  <app-product-page></app-product-page>
</div>
