<header class="p-2 flex text-white bg-orange-500">
  <h1 class="text-3xl font-bold underline">T-Shop</h1>
  <ul class="flex justify-center ">
    <li>
      <button mat-button><a routerLink="index">Home</a></button>
    </li>
    <li>
      <button mat-button><a routerLink="/cart">Cart</a></button>
    </li>
    <li>
      <button mat-button><a routerLink="/login">Login</a></button>
    </li>
  </ul>
  <!-- SearchBar -->
  <form>
    <mat-form-field >
      <mat-label>SearchBar</mat-label>
      <input
        class="border-gray-900"
        type="text"
        placeholder="Search goods by name."
        aria-label="Number"
        matInput
      >
      <mat-autocomplete>
        <mat-option>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

</header>
